<div class="users">
  <% all_users.each do |user| %>
  <p>
    <% unless user == current_user %>
      <a href="/users/<%= user.id %>"><%= user.username %></a>
      <% if current_user.idols.include?(user) %>
        <%= erb :_unfollow, locals: { user: user } %>
      <% else %>
        <%= erb :_follow, locals: { user: user } %>
      <% end %>
    <% end %>
  </p>
  <br>
<% end %>
</div>
