<h1>Login to 'Lil Twitter</h1>
<form action="/login" method="post">
<p><input type="text" name="username" placeholder="Enter Your Username"></p>
<p><input type="password" name="password" placeholder="Enter Your Password"></p>
<p><input type="submit" value="Login"></p>
</form>
