<h1>Tweet!</h1>

<form action="/tweets" method="post">
  <p><textarea rows="5" cols="50" name="content" placeholder="Tweet Here (make sure it's 140 characters or less)"></textarea></p>
<p><input type="submit" value="Tweet!"></p>
</form>
