<div class="row" style="background-color: #4099FF">
  <h1 style="color: white; text-align: center; font-size: 50px">Welcome to 'Lil Twitter!</h1>
</div>
<br><br>
<div class="row">
  <div class="col-xs-11 col-md-11 col-lg-11">
    <button type="submit"><a href="/register">Register</a></button>
  </div>
  <div class="col-xs-1 col-md-1 col-lg-1">
    <button type="submit"><a href="/login">Login</a></button>
  </div>
</div>
